extends  ../../_part/_baseShell

block head
	title Dashboard
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12 
			p
			p Dashboard
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				circle-el
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				list-el
		.mui-col-xs-12.mui-col-md-6
			.mui-panel
				gauge-el
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				my-comp
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				my-shadow


	script.
		TS.onAppReady(UIinit)
		function UIinit() {

			Promise.all([
				TS.load('/page/list/ListBusiness.js')
				, TP.loadComp('https://rawgit.com/topseed/topseed-polymer2/master/_sharedComps/circle.html')
				, TP.loadComp('https://rawgit.com/topseed/topseed-polymer2/master/_sharedComps/gauge.html')
				, TP.loadComp('/_polymerComp/List.html')
				, TW.loadComp('/_webComp/Mycomp.html')
				, TW.loadComp('/_webComp/Myshadow.html')
			]).then(function(){
				const sb = ListBusiness()
				//customElements.define('my-comp', MyComp);
				sb.addComp('circle-el') //for communication
				sb.addComp('gauge-el')
				sb.addComp('list-el'); 
				sb.compList('list-el')
			})
		}

block footer
	include ../../_part/_footer