extends  ../../_part/_baseShell

block head
	title Dashboard
	include ../../_part/_header

block main
	.mui-container-fluid
		.mui-col-xs-12 
			p
			p Dashboard
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				my-ssrcomp(title='My SSR Title')
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				list-el(title='My SSR List Title')
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				circle-el
		.mui-col-xs-12.mui-col-md-6
			.mui-panel
				gauge-el
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				my-comp(title='My Custom Title')
		.mui-col-xs-6.mui-col-md-3
			.mui-panel
				my-shadow(title='My Custom Shadow Title')


	script.
		TS.onAppReady(UIinit)
		function UIinit() {

			Promise.all([
				TW.rehydrate('my-ssrcomp') //Server-side component
				, TW.rehydrate('list-el') //Hybrid component
			]).then(function(){
				return Promise.all([
					TS.load('/page/list/ListBusiness.js')
					, TW.loadComp('https://rawgit.com/topseed/topseed-ssr/master/_sharedComps/circle.html')
					, TW.loadComp('https://rawgit.com/topseed/topseed-ssr/master/_sharedComps/gauge.html')
					//, TW.loadComp('/_webComp/Myssrcomp.html') //only uses rehydrate above
					, TW.loadComp('/_webComp/List.js') //Hybrid components
					, TW.loadComp('/_webComp/Mycomp.html') //Client-side component
					, TW.loadComp('/_webComp/Myshadow.html') //Client-side component
				])
			}).then(function(){
				const sb = ListBusiness()
				sb.addComp('circle-el') //for communication
				sb.addComp('gauge-el')
				sb.addComp('list-el');  //for communication
				//sb.compList('list-el') //Done server-side
			})
		}

block footer
	include ../../_part/_footer