extends  ../../_part/_baseShell

block head
	title List component
	include ../../_part/_header

block main
	.mui-container-fluid
		p
		p List as component:

		list-el(title='List title') loading...

	script.
		TS.onAppReady(UIinit) 

		function UIinit() { 
			TW.rehydrate('list-el') 
			.then(function(){TW.loadComp('/_webComp/List.js')})
		}

block footer
	include ../../_part/_footer

