template#xlist-el
	style#__style_0.
		#listel-title { color: orange; }
		#myList a { cursor: pointer; color: #2196F3}
	shadow-root
		span#listel-title My List Title
		#myList

script#ListTemplate(type='text/x-dot-template').
	<ul>
	{{~it.array :value:index}}
		<li><a onclick="return listEl.nav('{{=value.url}}','{{=value.circleVal}}','{{=value.gaugeVal}}')"> {{=value.head_line}}</a></li>
	{{~}}
	<ul>
//-http://www.javascriptoo.com/dot-js
//-script
	include List.js