template#xmy-comp
	style.
		#mycomp-title {color: orange}
	span#mycomp-title My Title
	p Hi this is mycomp1

script.

	class MyComp extends HTMLElement {

		static get is() { return 'my-comp' }

		constructor(){
			super()
			console.log('Mycomp constructor')
		}

		connectedCallback(){
			console.log('Mycomp connectedCallback')

			//this.innerHTML = $('#xmy-comp').html()
			this.innerHTML = document.getElementById('xmy-comp').innerHTML

			//$('#mycomp-title').text(this.getAttribute('title')||$('#mycomp-title').text())
			document.getElementById('mycomp-title').innerHTML = this.getAttribute('title')||document.getElementById('mycomp-title').innerHTML
		}
	}

	registerComp = function(){
		console.log('registerComp contactus')
		//TW.registerComp('my-comp', MyComp)
		//window.customElements.define('my-comp', MyComp);
	}

	customElements.define(MyComp.is, MyComp);

	
