template#xmy-shadow
	style.
		#title {color: orange}
		my-shadow p {color: blue}
		p {-webkit-margin-before: 0}
	span#title My Title
	p Hi this is myshadow1

script.

	class MyShadow extends HTMLElement {

		static get is() { return 'my-shadow' }

		constructor(){
			super()
			console.log('Myshadow constructor')
		}
		connectedCallback(){
			console.log('Myshadow connectedCallback')
			//this.innerHTML = document.getElementById('xmy-shadow').innerHTML
			this.shadow = TW.attachShadow(this, '#xmy-shadow')
			this.shadow.querySelector('#title').innerHTML = this.getAttribute('title') 

		}
	}

	registerComp = function(){
		console.log('registerComp Myshadow')
		//TW.registerComp('my-comp', MyShadow)
		//window.customElements.define('my-comp', MyShadow);
	}

	customElements.define(MyShadow.is, MyShadow);

	
