template#xmy-ssrcomp
	style.
		#myssrcomp-title {color: orange;}
		p {-webkit-margin-before: 0}
	shadow-root
		span#myssrcomp-title My Title
		p Hi this is myssrcomp1

//-separate file for SSR+client-side functionality
//-script
	include Myssrcomp.js

