template#xmy-ssrcomp
	style.
		#myssrcomp-title {color: orange;}
		my-ssrcomp p {color: blue;}
		p {-webkit-margin-before: 0}
	span#myssrcomp-title My Title
	p Hi this is myssrcomp1

//-use ff for client-side functionality
script.
	import ../../server/ssrComp/Myssrcomp.js

